body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #0f1316;
  color: #eee;
}
header {
  background: #19222e;
  padding: 0; 
}
header nav {
  height: 4.2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 2rem;
}
header nav img {
  height: 100%;
  max-height: 4rem;
  width: auto;
  object-fit: contain;
  display: block;
}
header nav a {
  color: #4af;
  text-decoration: none;
  font-weight: 400;
  margin: 0; 
}
header nav a:hover {
  text-decoration: bold; /* not working?*/
}
main {
  padding: 0rem;
  max-width: 800px;
  margin: auto;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 0.5rem 0;
}
section {
  text-align: center;
}

main {
  text-align: center;
}
