---
import BaseLayout from '../layouts/base.astro';

import DiscordCard from '../components/DiscordPanel.astro';
import EmailIcon from '../components/icons(i cant understand svg injection)/email.astro';
import GithubIcon from '../components/icons(i cant understand svg injection)/github.astro';
import DiscordIcon from '../components/icons(i cant understand svg injection)/discord.astro';
import OsuIcon from '../components/icons(i cant understand svg injection)/osu.astro';


const username = 'ra1nxyz';

const socials = [
  { icon: EmailIcon, label: 'Email', handle: 'rain@buggirls.xyz', url: 'mailto:rain@buggirls.xyz' },
  { icon: GithubIcon, label: 'GitHub', handle: 'ra1nxyz', url: 'https://github.com/ra1nxyz' },
  { icon: OsuIcon, label: 'Osu!', handle: 'ra1nxyz', url: 'https://osu.ppy.sh/users/12887122' }
];

import Counter from '../components/Counter.astro';

---

<BaseLayout title="Home", bodyClass='no-scroll'>
	<div class = "main">
		<h1>nyaaa</h1>
		<p>i do things for fun and nothing else</p>
		<h2>Socials</h2>
	</div>
	<div id="profile-card">
		<script type="module" src="/js/loadProfile.js"></script>
	  <DiscordCard banner="/fumo.gif" avatar="/fumo.gif" username={username} PlatformIcon={DiscordIcon} socials={socials} href="https://discord.com/users/1056050756324696194"/>
	</div>

	
	<div class="counter-wrapper">
      <Counter />
	</div>


	<div class="moxy">
		Thank you Moxy for your inspiration, and ultimately the  
		<a href="https://mothoxi.de" style="color:#4af; pointer-events:auto;">design</a> for this page. Rest easy friend. 💜
	</div>
	<meta name="description" content="Compsci student, i like anime bug girls" />
</BaseLayout>
