---
interface Props {
  title: string;
  mainClass?: string;
  bodyClass?: string;
}
const { title, mainClass = '', bodyClass = '' } = Astro.props;
import "../styles/style.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/bellz.png" />
  </head>
  <body>
    <header>
      <nav>
        <img src="/bellz.png" alt="Logo" style="height: 3.5rem; margin-top: -0.5rem;" />
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/blog">Blog</a>
        <a href="https://i.buggirls.xyz" target="_blank" rel="noopener noreferrer">Flytrap</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    <main class={mainClass}>
      <body class ={bodyClass}></body>
      <slot />
    </main>
    
  </body>
</html>
